.formSearch {
    padding-top: 10px;
    margin: 0;
}

.formSearch input {
    width: 80%;
    font-size: 12px;
    padding: 6px;
    height: 35px;
    border: 1px solid #006699;
    float: left;
    border-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.btn-Search {
    height: 35px;
    border: none;
    background: #006699;
    float: left;
    border-radius: 0;
}