*{

padding: 0PX;
margin: 0PX;
}
.header{

    background-color: #fff;
    height:100px ;
}
.innerHeader{
    width: 1200px;
    background-color: #fff;
    margin: auto;
    height:100px;
    line-height: 100px;

}
.navlog{
    height: 100px;
    float: left;

}
.nav{
    height: 100px;
    float: right;

}
.nav li{
    float: left;
    list-style: none;
    /*margin-right: 5px;*/
    padding:0 2.5px;
}
.nav a{
   text-decoration: none;
   font: normal 14px 黑体;
}

.nav a:hover{
    color: blue;
 }
.body{

    background-color:#FAFAFA;
}

.banner{

    height: 620px;
    background: url(../images/taobao.png) no-repeat  top center;
}
.server{

    width: 800PX;
    margin: 0 auto;

    border: 1px solid skyblue;
}
.server-hd{
    border-top: 1px  solid  rgb(204, 32, 32);
    margin: 20PX  10PX  10px;
}
