<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">

        <input type="text" v-model="fisrtName">
        <input type="text" v-model="lastName">
        <input type="text" v-model="midName">
        <input type="text" readonly=readonly v-bind:value="result">

        <p>{{fisrtName}}</p>
        <p>{{result}}</p>
    </div>
</body>

</html>

<script src="./node_modules/vue/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el: '#app',
        data: {
            fisrtName: '',
            lastName: '',
            midName: ''

        },
        methods: {

        },
        computed: {
            'result': function() {
                console.log('ok')
                return this.fisrtName + this.midName + this.lastName
            }
        },

    })
</script>