<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>

    </title>
    <meta name="keywords" content="博学谷前端学习" />
    <meta name="description" content="博学谷前端学习" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/index.css" rel="stylesheet">

</head>

<body>
    <header>
        <div class="logo">博学谷</div>
        <div class="top-nav">
            <h2 id="mnavh"><span class="navicon"></span></h2>
            <ul id="nav">
                <li><a href="index.html">网站首页</a></li>
                <li><a href="list.html">免费课程</a></li>
                <li><a href="/2">优质课程</a></li>
                <li><a href="/3">就业班</a></li>
                <li><a href="/4">问答库</a></li>
                <li><a href="/5">前端学习</a></li>
                <li><a href="/5">关于我</a></li>
                <li><a href="/5">留言</a></li>
            </ul>
        </div>
        <div class="search">
            <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
                <input name="keyboard" id="keyboard" class="input_text" value="搜索你喜欢的" style="color: rgb(153, 153, 153);" onfocus="if(value=='搜索你喜欢的'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='搜索你喜欢的'}" type="text">
                <input name="show" value="title" type="hidden">
                <input name="tempid" value="1" type="hidden">
                <input name="tbname" value="news" type="hidden">
                <input name="Submit" class="input_submit" value="" type="submit">
            </form>
        </div>
    </header>
    <aside class="side">

        <div class="weixin">
        </div>
    </aside>
    <main>
        <div class="main-content">
            <div class="welcome">您现在的位置是：首页>文章详情</div>
            <div class="blogbox">
                <div class="contentbox">
                    <h2 class="contitle">
                        <%=title%>
                    </h2>
                    <p class="bloginfo"><span></span><span><a href="#">

                        <%=author%>
                    </a></span></p>
                    <div class="entry">
                        <%-content%>
                    </div>
                </div>
                <div class="viewbox">
                    <h2 class="newstitle"><b>随便看看</b></h2>
                    <ul>
                        <li><a href="#"><i><img src="/public/images/74.png"></i>
                                <p>博学谷前端学习</p>
                                <span>2018年7月25日</span>
                            </a></li>
                        <li><a href="#"><i><img src="/public/images/74.png"></i>
                                <p>博学谷前端学习</p>
                                <span>2018年7月25日</span>
                            </a></li>
                        <li><a href="#"><i><img src="/public/images/74.png"></i>
                                <p>博学谷前端学习</p>
                                <span>2018年7月25日</span>
                            </a></li>
                        <li><a href="#"><i><img src="/public/images/74.png"></i>
                                <p>博学谷前端学习</p>
                                <span>2018年7月25日</span>
                            </a></li>
                    </ul>
                </div>
                <div class="pinlun">
                    <h2 class="newstitle"><b>评论</b></h2>
                    <div class="gbok">
                        评论插件
                    </div>
                </div>
            </div>
            <div class="rside">
                <div class="news">
                    <h2 class="newstitle"><b>文章排行</b></h2>
                    <ul>
                        <li><a href="#"><span>08-30</span>博学谷前端学习</a></li>
                        <li><a href="#"><span>08-30</span>博学谷前端学习</a></li>
                        <li><a href="#"><span>08-30</span>博学谷前端学习</a></li>
                        <li><a href="#"><span>08-30</span>博学谷前端学习</a></li>
                        <li><a href="#"><span>08-30</span>博学谷前端学习</a></li>
                        <li><a href="#"><span>08-30</span>博学谷前端学习</a></li>
                        <li><a href="#"><span>08-30</span>博学谷前端学习</a></li>
                        <li><a href="#"><span>08-30</span>博学谷前端学习</a></li>
                    </ul>
                </div>
                <div class="news">
                    <h2 class="newstitle"><b>本栏推荐</b></h2>
                    <ul>
                        <li><a href="#"><span>08-30</span>博学谷前端学习</a></li>
                        <li><a href="#"><span>08-30</span>博学谷前端学习</a></li>
                        <li><a href="#"><span>08-30</span>博学谷前端学习</a></li>
                        <li><a href="#"><span>08-30</span>博学谷前端学习</a></li>
                        <li><a href="#"><span>08-30</span>博学谷前端学习</a></li>
                        <li><a href="#"><span>08-30</span>我是怎么评价自己的？</a></li>
                        <li><a href="#"><span>08-30</span>html5 个人博客模板《蓝色畅想》</a></li>
                        <li><a href="#"><span>08-30</span>博学谷前端学习</a></li>
                    </ul>
                </div>
                <div class="news">
                    <h2 class="newstitle"><b>栏目更新</b></h2>
                    <ul>
                        <li><a href="#"><span>08-30</span>如何快速建立自己的个人博客网站</a></li>
                        <li><a href="#"><span>08-30</span>个人博客，属于我的小世界！</a></li>
                        <li><a href="#"><span>08-30</span>网易博客关闭，何不从此开始潇洒行走江湖！</a></li>
                        <li><a href="#"><span>08-30</span>个人网站做好了，百度不收录怎么办？来，看看他们怎么做的。</a></li>
                        <li><a href="#"><span>08-30</span>帝国cms 循环调用子栏目信息以及头条图片</a></li>
                        <li><a href="#"><span>08-30</span>我是怎么评价自己的？</a></li>
                        <li><a href="#"><span>08-30</span>html5 个人博客模板《蓝色畅想》</a></li>
                        <li><a href="#"><span>08-30</span>【匆匆那些年】总结个人博客经历的这四年</a></li>
                    </ul>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright 2018 Inc. AllRights Reserved. Design by <a href="#">个人博客</a> 蜀ICP备11002373号-1</p>
            </div>
        </div>
    </main>
    <a href="#" class="cd-top cd-is-visible">Top</a>
</body>

</html>