<html>

<head>

</head>

<body>
    <p> 姓名:
        <%=name%></p>

    <p> 年龄:
        <%=age%></p>

    <p> 爱好:
            <%for(var i=0;i<=arr.length;i++) {%>
                <p>
                    <%=arr[i]%>
                </p>
        
                <%}%>
        
        </p>
</body>

</html>