<html>

<head>

</head>

<body>
    <table border="1">
        <tr>
            <td>编号</td>
            <td>姓名</td>
            <td>密码</td>
        </tr>

        <%for(var i=0;i<data.length;i++){%>
            <tr>
                <td>
                    <%=data[i].id%>
                </td>
                <td>
                    <%=data[i].name%>
                </td>
                <td>
                    <%=data[i].password%>
                </td>
            </tr>

            <%}%>
    </table>
</body>

</html>