<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="public/css/layui.css" media="all">
  <script src="public/layui.js"></script>
  <script src="public/js/jquery-3.2.1.min.js"></script>
  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>

<body>
  <div id="data"></div>

  <table class="layui-table">
    <colgroup>
      <col width="150">
      <col width="200">
      <col>
    </colgroup>
    <thead>
      <tr>
        <th>编号</th>
        <th>用户名</th>
        <th>密码</th>
        <th>删除</th>
      </tr>
    </thead>
    <tbody id="tData">

    </tbody>
  </table>
</body>

</html>

<script>
  $(function () {
    loadData();

    $('#tData').on('click', '.delLinks', function () {
      alert("3334");
      if (confirm('确定要删除吗？')) {
        $.post('/delUser', {
          'id': $(this).attr("id")
        }, function (data) {
          alert();
          if (data.flag === 'yes') {
         
            $("#tData tr:gt(0)").remove();
            loadData();
          } else {

          }
        })
      }

    });

  });
  function loadData() {


    $.post('/userList', {}, function (data) {

      $("#tData").empty();

      if (data.flag === 'yes') {
        for (let i = 0; i < data.msg.length; i++) {
          console.log("ddd");
          $("<tr><td>" + data.msg[i].id + "</td><td>" + data.msg[i].name + "</td><td>" + data.msg[i].password + '</td><td><a href="#" class="delLinks" id="' + data.msg[i].id + '">删除</a></td></tr>').appendTo("#tData");
          // bindDeleteClick();
        }
      } else {

        layer.msg(data.msg, {
          icon: 5
        })
      }

    })
  }

  function bindDeleteClick() {
    $('.delLinks').click(function () {
      var userId = $(this).attr('id');
      alert(userId);
      if (confirm('确定要删除吗？')) {
        $.post('/delUser', {
          'id': userId
        }, function (data) {
          if (data.flag === 'yes') {

            $("#tData tr:gt(0)").remove();
            loadData();
          } else {

          }
        })
      }
    })
  }

</script>